---
/**
 * @fileoverview TabItem component for individual tab content.
 *
 * Individual tab content using details/summary pattern.
 * Use inside a Tabs component.
 *
 * @module components/simple/TabItem
 * @see {@link module:components/simple/Tabs} - Parent container
 *
 * @example
 * ```astro
 * <TabItem label="Tab Label">
 *   <p>Tab content here</p>
 * </TabItem>
 * ```
 *
 * @author How To Win Capitalism Team
 * @since 1.0.0
 */
export interface Props {
  label: string;
}

const { label } = Astro.props;
---

<details>
  <summary>{label}</summary>
  <div>
    <slot />
  </div>
</details>
