---
/**
 * @fileoverview Trade widget test page.
 *
 * Development/testing page for the TradeWidget component.
 * Demonstrates both inline and banner display modes.
 *
 * @module pages/trade-test
 * @see {@link module:components/trade/TradeWidget} - Trade widget component
 *
 * @author How To Win Capitalism Team
 * @since 1.0.0
 */
import Base from '../layouts/Base.astro';
import { TradeWidget } from '../components';
---

<Base title="Trade Widget Test">
  <h1>Trade Widget Test</h1>

  <h2>Inline Mode</h2>
  <TradeWidget />

  <h2 style="margin-top: 2rem;">Banner Mode</h2>
  <TradeWidget mode="banner" />
</Base>
