---
/**
 * @fileoverview NavBox molecule for navigation link collections.
 *
 * A navigation section box for grouping related links,
 * similar to Wikipedia navigation templates.
 *
 * Design Patterns:
 * - Composite: Composed of WikiBox atom with nav variant
 * - Template Method: Nav structure with link slots
 *
 * @module components/molecules/NavBox
 * @see {@link module:components/atoms/WikiBox} - Container component
 *
 * @example
 * ```astro
 * <NavBox title="Related Topics">
 *   <a href="/topic-1/">Topic 1</a>
 *   <a href="/topic-2/">Topic 2</a>
 * </NavBox>
 * ```
 *
 * @author How To Win Capitalism Team
 * @since 1.0.0
 */
import WikiBox from '../atoms/WikiBox.astro';

export interface Props {
  /** Section title (required) */
  title: string;
}

const { title } = Astro.props;
---

<WikiBox variant="nav" title={title}>
  <nav>
    <slot />
  </nav>
</WikiBox>

